@model POCOS.Models.Customer 
@{
    ViewBag.Title = "test";
    Layout = "~/Views/Shared/ajaxform.cshtml";
}
@using (Ajax.BeginForm("save", "customer",    
                                            new AjaxOptions
                                            {
                                                HttpMethod = "Post",
                                                OnSuccess = "ajaxsuccess",
                                                LoadingElementId = "loading",
                                                OnComplete = "ajaxcomplete",
                                                OnBegin = "ajaxbegin(20)",
                                            }, 
                                            new 
                                            {
                                                @class = "basic-grey"
                                            }
    )
 )
{

    @Html.HiddenFor(p => p.ID)
 
    @Html.HiddenFor(p => p.ctime)
    <table>
        <tr>
            <td colspan="4" class="txtc" style="width: 15%;">
       
              <div> @Html.ValidationMessageFor(model => model.CustomreNo)</div>
              <div>   @Html.ValidationMessageFor(model => model.CustomreName) </div>
              <div>   @Html.ValidationMessageFor(model => model.Contact1)  </div>
               <div>  @Html.ValidationMessageFor(model => model.Tel1)   </div>
              <div>   @Html.ValidationMessageFor(model => model.Address)   </div>
           
            </td>
        </tr>
        <tr>
            <td class="td1">客户编号:</td>
            <td>
                @Html.EditorFor(model => model.CustomreNo)   

            </td>
            <td class="td1">名称 :</td>
            <td>
                @Html.EditorFor(mode => mode.CustomreName)
            </td>
        </tr>
        <tr>
            <td class="td1">简称 :</td>
            <td>
                @Html.EditorFor(mode => mode.ShortName)
            </td>
            <td class="td1">最低起配 :</td>
            <td>
                @Html.EditorFor(mode => mode.Qipei)
            </td>

        </tr>
        <tr>
            <td class="td1">联系人1 :</td>
            <td>
                @Html.EditorFor(mode => mode.Contact1)
            </td>
            <td class="td1">电话1 :</td>
            <td>
                @Html.EditorFor(mode => mode.Tel1)
            </td>

        </tr>
        <tr>
            <td class="td1">联系人2 :</td>
            <td>
                @Html.EditorFor(mode => mode.Contact2)
            </td>
            <td class="td1">电话2 :</td>
            <td>
                @Html.EditorFor(mode => mode.Tel2)
            </td>
        </tr>
        <tr>
            <td class="td1">手机1 :</td>
            <td>
                @Html.EditorFor(mode => mode.Phone1)
            </td>
            <td class="td1">手机2 :</td>
            <td>
                @Html.EditorFor(mode => mode.Phone2)
            </td>
        </tr>
        <tr>
            <td class="td1">地址 :</td>
            <td colspan="3">
                @Html.TextAreaFor(mode => mode.Address, new { style="width: 90%; max-width: 980px;" })
            </td>
        </tr>
        <tr>
            <td colspan="4" class="txtc">
                <input type="submit" class="button" value="提交" /></td>
        </tr>
    </table>
  

}